/src/
/Debug/
/.settings/
/.launches/
/.clang-tidy
/.xdchelp
/.cproject
/.project
/.ccsproject
/CC2650STK.c
/CC2650STK.cmd
/CC2650STK.h
/ccfg.c
/CMakeLists.txt
/empty.cfg
/makefile.defs
/targetConfigs/
/.idea/
